<!DOCTYPE html>
<html>
    <head>
        <title>dragonskedaddle's sodoku solver</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class="main-container">
            <div id="board">
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
                <span><input type=text maxlength="1"></span>
            </div>
            <p id="text">i want to <span id="function-switcher">SOLVE</span> a sudoku board</p>
            <div class="button-group">
                <button id="execute">execute</button>
                <button id="reset" disabled>reset</button> 
            </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>